body {
    background-color: #34495E;
    color: #2ECC71;
}

button {
    outline-style: none !important;
}

.clock {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin: 8% auto;
    cursor: pointer;
}

.timer {
    text-align: center;
    margin-top: 120px;
}

.counter {
    margin: 10px auto;
}

#time {
    font-size: 6em;
    text-align: center;
}
